# Project
PROJECT_NAME="Project Marketly"
PROJECT_DESCRIPTION="This repository implements a Django application following the principles of Clean Architecture and Domain-Driven Design (DDD). It serves as a practical example of how to structure a robust and maintainable application."
PROJECT_VERSION=0.1.0

# Enviroment
SECRET_KEY=<secret-key>
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database & Cache
DB_NAME=<db-name>
DB_USER=<db-user>
DB_PASSWORD=<db-password>
DB_HOST=db
DB_PORT=5432
CACHE_LOCATION=redis://redis:6379/0

# Payment
PAYPAL_CLIENT_ID=<paypal-client-id>
PAYPAL_CLIENT_SECRET=<paypal-client-secret>

# Documentation
LICENCE_NAME="MIT License"
LICENCE_URL=https://github.com/tyronejose/project_marketly/blob/main/LICENSE
CONTACT_NAME="Tyrone Jose"
CONTACT_URL=https://github.com/tyronejose
